<!-- INDIVIDUAL POST START -->
<div class="parent-post">
    <div class="post-container">
        <div class="post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="title-details">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="post-body">
            <p class="body-text">{{post.content}}</p>
        </div>
    </div>
</div>
<!-- INDIVIDUAL POSTS END -->
<!-- COMMENTS START -->
{{#if post.comments.length}}
{{#each post.comments as |comment|}}
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <p class="commenter-details"> - by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        </div>
        <div class="comment-body">
            <p class="body-text">{{comment.content}}</p>
            {{#if (ifEquals 1 1)}}
            <input type="submit" value="Update" data-id="{{comment.id}}" class="comment-btn update-comment-btn">
            <input type="submit" value="Delete" data-id="{{comment.id}}" class="comment-btn delete-comment-btn">
            {{/if}}
        </div>
    </div>
</div>
{{/each}}
{{/if}}
<!-- COMMENTS END -->
<!-- ADD COMMENT START -->
<div class="parent-comment">
    <div class="comment-container">
        <div class="comment-header">
            <h2 class="comment-title">Add your comment</h2>
        </div>
        <div class="comment-body">
            <textarea type="text" placeholder=" Enter comment" class="comment-text" id="new-comment-content"></textarea>
            <input type="submit" value="Submit" class="comment-btn new-comment-btn" data-id="{{post.id}}">
        </div>
    </div>
</div>