<!-- HOME PAGE POSTS START -->
{{#each posts as |post| }}
<div class="parent-post">
    <div class="post-container">
        <a href="api/posts/{{post.id}}">
        <div class="post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="title-details">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        </a>
        <div class="post-body">
            <p class="body-text">{{post.content}}</p>
        </div>
    </div>
</div>
{{/each}}
<!-- HOME PAGE POSTS END -->